<div class="main-container">
    <div class="general-container">
        <div class="title">
            <h1>Sobre Nosotros</h1>
        </div>  
        <div class="parrafos">
            <div class="firstp">
                <div class="parrafo">
                    <h2>Elevando tu estilo con elegancia y distinción</h2>
                    <p>En Capclock nos enorgullece ofrecer una amplia gama de gorras y relojes de alta calidad que se adaptan a todos los estilos y ocasiones. 
                    Desde elegantes relojes para complementar tu atuendo hasta gorras deportivas para mantenerte a la moda en cualquier actividad, nuestra colección cuidadosamente 
                    seleccionada garantiza satisfacer tus necesidades y gustos. Con un compromiso inquebrantable con la calidad y la excelencia en el servicio al cliente, nos 
                    esforzamos por ser tu destino de confianza para accesorios de moda que realzan tu estilo personal.</p>
                </div>
                
            </div>  
            
            <div class="secondp">
                <div class="parrafo">
                    <h2>Creando experiencias de moda inigualables</h2>
                    <p>Nuestra pasión por la moda y el estilo se refleja en cada producto que ofrecemos. Nos dedicamos a brindar a nuestros 
                    clientes una experiencia de compra sin igual, desde la selección cuidadosa de materiales hasta el diseño meticuloso de cada artículo. 
                    Con un equipo comprometido y apasionado, estamos aquí para ayudarte a encontrar el accesorio perfecto que complemente tu estilo único y 
                    refleje tu personalidad con confianza. ¡Únete a nosotros en nuestro viaje y descubre la magia de la moda con Capclock!</p>
                </div>
        </div>
        </div>
        <div class="parrafos">
            <div class="parrafo">
                <h1>Misión y Visión</h1>
            <p>En nuestra empresa, no solo vendemos gorras y relojes, sino que también nos esforzamos por brindar a nuestros clientes una experiencia única y satisfactoria. 
                Nos comprometemos a ofrecer productos de calidad que reflejen el estilo y la personalidad de cada individuo. Nuestra visión es ser líderes en la industria, 
                destacándonos por nuestro compromiso con la excelencia, la innovación y el servicio al cliente. Trabajamos cada día para superar las expectativas de nuestros clientes y convertirnos 
                en su primera opción cuando busquen accesorios que complementen su estilo de vida.
            </p>
            </div>
        </div>
    </div>
    <div class="general-container-2">
        
    </div>
</div>