.main-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #010714;
}

.header-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  padding: 10px;
  border: 1px solid blue;
  border-radius: 0 0 20px 20px;
}

.logo-container img{
  width: 50px;
  height: 50px;
}

.nav-container{
  display: flex;
  justify-content: space-between; /* Alinear elementos de manera uniforme */
  align-items: center;
  width: 60%;
}

.link-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.link-container a {
  text-decoration: none; /* Para quitar subrayado predeterminado */
  margin-bottom: 2px;
  border-bottom: 2px solid transparent; /* Línea inferior transparente */
  color: #010714;
  transition: border-bottom 0.15s ease; /* Transición suave */
}

.link-container a h2 {
  margin-bottom: 5px; /* Ajusta el espacio entre la letra y la línea inferior */
}

.link-container a:hover {
  border-bottom: 4px solid #010714; /* Cambia el color de la línea inferior al hacer hover */
}

.buttons-container {
  display: flex;
  align-items: center;
}

.circular-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: white; /* Color del ícono */
  border: none;
  margin-left: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  background-color: transparent;
  align-items: center;
  border: 1px solid #010714; /* Borde del botón */
}

.circular-button i {
  font-size: 20px; /* Tamaño del ícono */
}