<header>
  <div class="main-container">
    <div class="header-container">
      <div class="logo-container">
        <a routerLink="/home/shop"><img src="../../../assets/logo/CapClock.svg" alt="CapClock Logo"></a>
      </div>
      <div class="name-container">
        <h1>CapClock</h1>
      </div>
      <div class="nav-container">
        <div class="shop-container link-container">
          <a routerLink="/home/shop" routerLinkActive="active" [class.active]="isLinkActive('shop')"><h2>Shop</h2></a>
        </div>
        <div class="caps-container link-container">
          <a routerLink="/home/caps" routerLinkActive="active" [class.active]="isLinkActive('caps')"><h2>Gorras</h2></a>
        </div>
        <div class="watchs-container link-container">
          <a routerLink="/home/watchs" routerLinkActive="active" [class.active]="isLinkActive('watchs')"><h2>Relojes</h2></a>
        </div>
        <div class="watchs-container link-container">
          <a routerLinkActive="active" *ngIf="isLoggedInAdmin"><h2>Inventario</h2></a>
        </div>
        <div class="buttons-container">
          <button class="circular-button" routerLink="/cart" *ngIf="isLoggedIn  && !isLoggedInAdmin"><img src="../../../assets/icons/IconShoppingCart.svg" title="Carrito de compras" alt="Cart Icon"></button>
          <button class="circular-button" routerLink="/login" *ngIf="!isLoggedIn"><img src="../../../assets/icons/IconUser.svg" alt="User Icon"></button>
          <button class="circular-button" (click)="logoutPress()" *ngIf="isLoggedIn"><img src="../../../assets/icons/IconLogout.svg" title="Cerrar sesión" alt="Logout Icon"></button>
        </div>
      </div>
    </div>
  </div>
</header>