<div class="main-container">
  <div class="main-image-container">
    <img src="../../../assets/shop_home.jpg" alt="CapClock Logo">
    <h1 class="image-title">Shop</h1>
  </div>
  <div class="main-products-container">
    <div class="search-container">
      <h1>Products</h1>
      <div class="searcher">
        <div class="searcher-logo">
          <i class="fas fa-search"></i>
        </div>
        <div class="searcher-input">
          <input type="text" placeholder="Search on CapClock">
        </div>
        <div class="search-button-container">
          <button class="search-button">Search</button>
        </div>
      </div>
    </div>
  </div>

</div>
