<div class="main-container">
    <div class="main-image-container">
      <img src="{{imageRoute}}" alt="CapClock Logo">
      <h1 class="image-title">{{title}}</h1>
    </div>
    <!-- Sección de Misión, Visión y Valores -->
    <div class="mission-vision-values">
      <div class="mission">
        <h2>Misión</h2>
        <p>
            Nuestra misión en CapClock es ofrecer a nuestros clientes productos de calidad excepcional, centrándonos en la innovación y el diseño creativo en el mercado de las gorras. Nos esforzamos por proporcionar una experiencia de compra única, donde la satisfacción del cliente y la excelencia en el servicio son nuestras principales prioridades.
        </p>
      </div>
      <div class="vision">
        <h2>Visión</h2>
        <p>Nuestra visión en CapClock es convertirnos en la marca líder y de referencia en el mercado de gorras, reconocida por nuestra calidad, innovación y compromiso con la satisfacción del cliente. Aspiramos a expandir nuestra presencia globalmente, manteniendo siempre nuestros valores fundamentales y contribuyendo positivamente al mundo que nos rodea.</p>
      </div>
      <div class="values">
        <h2>Valores</h2>
        <ul>
          <li> <b>Calidad: </b> Nos comprometemos a ofrecer productos de la más alta calidad, desde los materiales hasta el diseño final de cada gorra.</li>
          <li> <b>Innovación: </b>  Buscamos constantemente nuevas ideas y tendencias para mantenernos a la vanguardia en el mercado de la moda de gorras.</li>
          <li> <b>Integridad: </b>  Actuamos con honestidad, transparencia y ética en todas nuestras operaciones y relaciones comerciales.</li>
          <li> <b>Pasión por el cliente: </b> Ponemos a nuestros clientes en el centro de todo lo que hacemos, brindando un servicio personalizado y excepcional.</li>
          <li> <b>Responsabilidad social: </b> Nos preocupamos por el impacto que tenemos en la comunidad y el medio ambiente, buscando prácticas sostenibles y responsables.</li>
          <!-- Agrega más valores si es necesario -->
        </ul>
      </div>
    </div>
  </div>
  