body {
  background-image: url('../../../assets/img/backgrounds/Background2.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapper {
  display: flex;
  align-items: center;
}

.main-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  padding: 0 4vw;
}

.info-container {
  flex: 1;
  display: flex;
}

.info-content {
  text-align: left;
}

.login-container {
  align-self: flex-start;
  margin-left: auto;
}

.info-container h1 {
  font-size: 5vw;
  text-align: center;
  line-height: 1;
}

.info-container .button-container {
  display: flex;
  justify-content: center;
}

.circular-button {
  font-size: 2em;
  border: 2px solid black;
  background-color: transparent;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  width: fit-content; /* Ajustar el ancho al contenido */
  padding: 10px 20px; /* Añadir espacio interno */
  border-radius: 30px; /* Hacer el botón circular */
}

.circular-button:hover {
  background-color: black;
  color: white;
}

.login-container {
  align-self: flex-start;
  margin-left: auto;
}

.login-container .circular-button {
  font-size: 1em;
  width: 40%;
  height: 40px;
}

.login-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  position: relative;
  margin-bottom: 20px;
  border: 2px solid black;
  border-radius: 30px;
  padding: 10px;
  width: fit-content;
  overflow: hidden; /* ocultar el desbordamiento */
}

.input-container input {
  border: none;
  border-bottom: none; /* eliminar el borde inferior */
  outline: none;
  padding: 5px 30px 5px 25px;
  width: calc(100% - 55px);
}


.input-container img {
  position: absolute;
  top: 50%;
  left: 5px; /* posición del icono */
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.input-container input:focus {
  border-bottom-color: black;
}

.input-container input::placeholder {
  color: black; /* hacemos el texto del placeholder negro */
}

.input-container input:focus::placeholder,
.input-container input:not(:placeholder-shown)::placeholder {
  color: #aaa; /* color del texto del placeholder */
}
