<div class="wrapper">
  <div class="main-image-container">
    <img src="../../../assets/img/backgrounds/caps_home.png" alt="CapClock Hat">
    <div class="main-container">
      <div class="info-container">
        <div class="info-content">
          <h1>Adquiere los</h1>
          <h1>mejores</h1>
          <h1>accesorios</h1>
          <div class="button-container">
            <button class="circular-button">Empezar</button>
          </div>
        </div>
      </div>
      <div class="login-container">
        <h1>Inicio de sesión</h1>
        <!-- <form (ngSubmit)="login(loginForm.value.username, loginForm.value.password)" #loginForm="ngForm"> -->
        <form>
          <div class="input-container">
            <img src="../../../assets/icons/IconUser.svg" alt="Icono de usuario">
            <input type="text" id="username" name="username" ngModel required placeholder="Usuario">
          </div>
          <div class="input-container">
            <img src="../../../assets/icons/IconKey.svg" alt="Icono de contraseña">
            <input type="password" id="password" name="password" ngModel required placeholder="Contraseña">
          </div>
          <div>
            <p>¿Aún no tienes cuenta? <a href="/registro">Regístrate</a></p>
          </div>
          <button class="circular-button" type="submit">Ingresar</button>
        </form>
      </div>
    </div>
  </div>
</div>
